{% extends "base.html" %}

{% block main_content %}

    <p>
        <form action="{{ url_for('search') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.query.label }}
            {{ form.query() }}
            <br />
            {{ form.submit() }}
                    
        </form>
    </p>



    <p>
        {% if results %}
                <table>
                    <tr scope="row">
                        <th scope="col">Title</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Release Date</th>
                        <th scope="col">Genres</th>
                        <th scope="col">User Score</th>
                        <th scope="col">Rating Count</th>
                        <th scope="col">Favourites</th>
                        <th scope="col">Reviews</th>
                    </tr>
                   
                    {% for album in results %}
                    <tr scope="row">
                        <td>{{ album.title }}</td>
                        <td>{{ album.artist }}</td>
                        <td>{{ album.release_date }}</td>
                        <td>{{ album.genres }}</td>
                        <td>{{ album.user_score }}</td>
                        <td>{{ album.rating_count }}</td>
                        <td>
                            {% if album.album_id in favorite_ids %}
                                <form action="{{ url_for('remove_favorite') }}" method="post">
                                    <input type="hidden" name="album_id" value="{{ album.album_id }}" />
                                    <input type="hidden" name="query" value="{{ query }}" />
                                    <button type="submit">Remove from favourites</button>
                                </form>
                            {% else %}
                                <form action="{{ url_for('add_favorite') }}" method="post">
                                    <input type="hidden" name="album_id" value="{{ album.album_id }}" />
                                    <input type="hidden" name="query" value="{{ query }}" />
                                    <button type="submit">Add to favourites</button>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('review_page', album_id=album.album_id , query=query) }}">Review Album</a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </table>
            {% else %}
                <p>No results found</p>
            {% endif %}
    </p>


{% endblock %}


