{% extends "base.html" %}

{% block main_content %}

        <h3>My Reviews</h3>

        {% if my_reviews %}
            <table>
                <tr scope="row">
                    <th scope="col">User</th>
                    <th scope="col">Album</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Created At</th>
                </tr>
                
                {% for review in my_reviews %}
                    <tr scope="row">
                        <td> {{ review.user_id }} </td>
                        <td> {{ review.title }} </td>
                        <td> {{ review.rating }} </td>
                        <td> {{ review.comment }} </td>
                        <td> {{ review.time }}</td>
                    </tr>

                {% endfor %}
            </table>
        {% else %}
            <p>No reviews yet!</p>
        {% endif %}
{% endblock %}